.productBox {
    text-align: left;
}

.productBox h2, h3, h4, h5 {
    margin: 0.2rem;
}


.textBox {
    padding-left: 1rem;
}

.addToCartButton {
    margin-top: 1.5rem;
}
.productImg {
 height: 20rem;
 width: 20rem;
 background-size: cover;
 background-repeat: no-repeat;
 margin-bottom: 1rem;
}

.productContainer {
    display: flex;
    align-items: center;
}