.productBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80vh;
}

.productImg {
 height: 20rem;
 width: 20rem;
 background-repeat: no-repeat;
 background-size: cover;
}
.productContainer {
    display: flex;
    align-items: center;
}