body {
  margin: 0;
  font-family: 'Spicy Rice', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-family: 'Acme', sans-serif;
  
}