
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
}

.linkBox {
    background-color: #7D4487;
    height: 10rem;
    width: 10rem;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.linkBox h1 {
    color: #EAB691;
    text-decoration: none;
}