  .modal {
    background-color: orange;
    color: purple;
    border-radius: 5%;
    position: absolute;
    top: 25%;
    left: 33%;
    width: 30rem;
    height: 30rem;
    align-items: center;
    padding: 2rem;
}  

.login {
   margin-top: 1rem;

}

.loginTextInput {
    margin: 1rem;
}

.buttonBox {
    margin: 1rem;
}