.boxStyle:nth-child(odd){
    height:28rem; 
    width:22rem; 
    margin:1.5rem; 
    background:#7D4487;
    padding: 0.5em;
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

.boxStyle:nth-child(even){
    height:29rem; 
    width:22rem; 
    margin:1.5rem; 
    background:#4AAEAE;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 2rem;
}

.imgStyle{
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxStyle:nth-child(odd) .albumText{
    color: #4AAEAE;
}

.boxStyle:nth-child(even) .albumText{
    color: #7D4487;
}

p {
    margin: 0;
}

h3 {
    margin: 1rem;
}

.flower {
    width: 2rem;
    height: 2rem;
    margin: 0 0.3rem
}

.boxStyle h5 {
    color: wheat;
    margin: 0.3rem 0;
    text-align: left;
}

.boxStyle h3{
    color: wheat;
}